body {
  padding-top: 50px;
}
.image-icon {
  vertical-align: middle;
  height: 1.2em;
}
.navbar-logo {
  float: left;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
  padding: 5px;
}
.centered {
  text-align: center;
}
.contact {
  margin: 0px auto 50px auto;
}
.icon {
  display: inline-block;
  padding: 10px;
  color: black;
}
.material-icons {
  vertical-align: middle;
  font-size: 1.2em;
}
.scalabridge-title {
  font-family: "Allura", cursive, sans-serif; 
  font-size: 5vw;
}
@media screen and (max-width: 950px) {
  .scalabridge-title {
    font-size: 8vw;
  }
}