#scalabridge-logo {
  padding: 5px;
}
body {
  background-color: #fff;
  padding-top: 50px;
}
img .sponsor-image {
  display: block;
  margin: auto;
  height: 3em;
}
.image-icon {
  vertical-align: middle;
  height: 1.2em;
}
.topleft {
  position:absolute;
  left:0;
  top:0;
}
.contact {
  margin: 0px auto 50px auto;
  text-align: center;
}
.icon {
  display: inline-block;
  padding: 10px;
  color: black;
}
.material-icons {
  color: black;
  vertical-align: middle;
  font-size: 1.2em;
}
#tlemail {
  width: 140px;
}
@media screen and (max-width: 625px) {
  .container {
    width: 80%;
  }
  h1 {
    font-size: 12vw;
  }
}
@media screen and (max-width: 250px) {
  #tlemail {
    width: 80%;
  }
}
