h1 {
  color: white;
  text-align: center;
  font-family: "Allura", cursive, sans-serif;
  font-size: 72px;
  margin-bottom: -5px;
}
p {
  color: white;
  text-align: center;
  font-family: "Raleway", Arial, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: #00cccc;
}
img {
  vertical-align: middle;
  height: 24px;
}
form {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 3px;
  text-align: center;
}
.container {
  width: 500px;
  margin: auto;
}
.contact {
  width: 300px;
  margin: 0px auto 50px auto;
  text-align: center;
}
.icon {
  display: inline-block;
  padding: 10px;
}
.material-icons {
  color: white;
  vertical-align: middle;
  font-size: 28px;
}
