<h2>Workshop Sponsors</h2>
<h3>San Francisco, February 11 2017</h3>
<div class="sponsor">
  
  <a href="https://www.lightbend.com/?utm_source=scalabridge&utm_medium=website&utm_campaign=general&utm_term=none&utm_content=none">
  
    <span class="sponsor-image"><img src="images/lightbend-full-color.png" style="display: block; margin: auto; height: 3em;"/></span>

  </a>

  <p>
  Lightbend provides the leading Reactive application development
platform for building distributed applications and modernizing aging
infrastructures. Using microservices and fast data on a message-driven
runtime, your applications scale effortlessly on multi-core and cloud
computing architectures. Many of the most admired brands around the
globe are transforming their businesses with our platform, engaging
billions of users every day through software applications that are
changing the world.
  </p>
</div>
